.actual-exam-ui li .que-ans-states .label {
  background: #fff;
  width: 25px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #333;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

p{
  font-weight: 600 !important;
}

h4 {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.exam-instructions {
  padding: 10px 0px;
}

actual-exam-ui ol {
  list-style-type: decimal !important;
  list-style-position: inside;
}

.actual-exam-ui ol>li {
  list-style-type: inherit;
  color: #000;
  line-height: 1.5rem;
  font-size: 16px;
}

.actual-exam-ui li .skipped {
  border-radius: 0 0 20px 20px!important;
  background-color: #c0392b!important;
  border-color: #c0392b!important;
  color: #fff!important;
}

.actual-exam-ui li .attempted {
  border-radius: 20px 20px 0 0!important;
  background-color: #27ae60!important;
  color: #fff!important;
  border-color: #27ae60!important;
}

.actual-exam-ui li .bookmarked {
  background-color: #9b59b6!important;
  border-radius: 24px!important;
  border-color: #9b59b6!important;
  color: #fff!important;
  position: relative;
}

.actual-exam-ui li .bookmarked {
  background-color: #9b59b6!important;
  border-radius: 24px!important;
  border-color: #9b59b6!important;
  color: #fff!important;
  position: relative;
}

.actual-exam-ui li .attempted {
  border-radius: 20px 20px 0 0!important;
  background-color: #27ae60!important;
  color: #fff!important;
  border-color: #27ae60!important;
}

.actual-exam-ui li .attempted_bookmarked {
  background-color: #9b59b6!important;
  border-radius: 24px!important;
  border-color: #9b59b6!important;
  color: #fff!important;
  position: relative;
}

.actual-exam-ui li .attempted_bookmarked::after {
  content: '';
  position: absolute;
  border-color: #27ae60;
  border-style: solid;
  border-width: 0 .3em .3em 0;
  height: 1em;
  top: -.375em;
  right: 0;
  transform: rotate(45deg);
  width: .5em;
}
ol ol {
  margin-left: 20px !important;
}
ol ol li:last-child {
  margin-bottom: 20px !important;
}
:focus {outline:0 !important;}

.app-toolbar-bottom {
  width:100%;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  bottom: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}
.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  width:100%;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  overflow: hidden;
  margin-right: 120px;
}

:focus {outline:0 !important;}

.header-menu {
  padding-top: 10px;
  font-size: 14px;
  margin-right: 40px;
}

.example-spacer {
  flex: 1 1 auto;
}

.float-right-button {
  margin-right: 60px !important;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
}



