<section class="view-courses-header">
    <div class="auto-container">
        <ul class="cus-bread-crumb">
            <li><a href="index.html">Home</a></li>
            <li>Refer & Earn</li>
        </ul>
    </div>
</section>
<section class="refer_back">
    <div class="container">
        <div  class="row">
            <div  class="col-md-6 col-sm-12 col-12 mx-auto">
                <div  class="earn-heading">
                    <h1 >Learn Together</h1>
                    <p >Earn Together</p>
                    <hr>
                    <p><b >Earn Rs. 50</b> for every friend you invite</p><hr >
                <p >Invite your Friends to avision.co.in. When your friends purchase a Avision Pass or Course, you earn Rs. 50 for every friend. Your friends too get Rs. 25 paytm cashback on purchase</p>
                </div>
               
                
            </div>
            <div  class="col-md-6 col-sm-12 col-12"><img  class="img-fluid" src="assets/images/refer_img.png">
            </div>
        </div>        
    </div>
        
</section>

<div class="earn-light-back">
    <div class="row">
        <div class="col-md-8 mx-auto col-sm-10">
            <div class="refar-light-back text-center">
                <h4 class="cus-ref-main-title">Invite your Friends</h4>
                <div class="input-group send-invite-sec">
                  <input type="text" class="form-control" placeholder="Enter Email or Mobile Number" name="">
                  <div class="input-group-btn">
                    <button class="btn btn-info cus-invite-btn" type="submit">Send Invite</button>
                  </div>
                </div>
                <p>Invite friends directly from <img src="https://riashatislam.files.wordpress.com/2016/11/gmail-logo2.png" width="20px"/> <a target="_blank" href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Gmail</a></p>
                
                <hr/>
                
                <div class="row">
                    <div class="col-md-4">
                        <p class="refar-code-title">Your Referral Code</p>
                        <div class="form-group">
                            <input id="ad" class="cus-code-copy-input form-control" type="text" value="GaB45D" readonly>
                            <button class="btn cus-coupon-code-btn" data-clipboard-action="copy" data-clipboard-target="#ad">Copy</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="refar-code-title">Your Referral Link</p>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/QR_Code_Model_1_Example.svg/528px-QR_Code_Model_1_Example.svg.png" width='60%;'>
                        <div class="form-group">
                            <input id="qr" class="cus-code-copy-input form-control" type="text" value="https://avision.co.in/invite/LSGLMC" readonly>
                            <button class="btn cus-coupon-code-btn" data-clipboard-action="copy" data-clipboard-target="#qr">Copy</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="refar-code-title">Share with your friends</p>
                        <ul class="cus-ref-social">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        </ul>
                    
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-4">
                        <label>Do you have referral code?</label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group cus-redeem-code">
                            <input type="text" class="form-control" placeholder="Enter Code">
                            <div class="input-group-btn">
                              <button class="btn btn-redeem" type="submit">Redeem</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="refar-code-title pay-number text-left">Paytm Cashback will be credited to your registered mobile number - +91 1234567890. <a href="#">Change</a></p>
                        
                    </div>
                </div>
            </div>
            
        </div>
    
    </div>
</div>

<div class="earn-light-after-div">
    <div class="earn-light-after-div-heading">
        <h3>It's Super Easy to Learn and Earn Together</h3>
        <p>How referral works?</p>
    </div>
    
    <div class="row">
        <div class="col-md-8 mx-auto col-sm-10 mx-auto ">
            <div class="row">
                <div class="col-md-4">
                    <div class="cus-after-section">
                        <img src="https://webstockreview.net/images/megaphone-clipart-public-address-system-5.png" width="80px"/>
                        <p>Share your referral code or link with your friends.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="cus-line-span"></span>
                    <div class="cus-after-section">
                        <img src="https://i.dlpng.com/static/png/1256431_thumb.png" width="80px"/>
                        <p>Friends sign up with your link or referral code.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cus-after-section">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/419CmrnijnL.png" width="80px"/>
                        <p>When your friends buy a pass or course, you earn Rs.50 and your friend get Rs. 25 paytm cashback (e.g. if 10 friends buy a pass or course, you earn Rs.500)</p>
                    </div>
                </div>
            </div>
        
        
        </div>
    </div>

</div>



<div class="ref-fullwith-div">
    <h3>You haven't invited any of your friends yet</h3>
    <p>(Invited friends and their status will appear here)</p>
</div>

<div class="ref-trams-section">
    <div class="ref-trams-heading">
        <h3>Terms and Conditions</h3>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto col-sm-10">
            <p><b>Definitions:</b></p>
            <ul>
                <li><b>Referrer:</b> A person who invites his friend to avision.co.in using his/her referral code or link</li>
                <li><b>Referred Friend:</b> A person who has been invited to avision.co.in by referrer and had used Referrer’s referral code or link while signing up on avision.co.in</li>
                <li><b>Successful Referral:</b> A referral is considered successful when a Referred Friend purchases a Avision Pass or Course</li>
            </ul>
            <p><b>Terms and Conditions:</b></p>
            <ul>
                <li>This referral program is only applicable if a friend is new user for avision.co.in and has never made a purchase at avision.co.in before.</li>
                <li>For Referred Friends, they need to sign up at avision.co.in using Referrer’s referral code or link before making any purchase at avision.co.in. In Avision Android App, they should enter your referral code on Refer & Earn screen accessible through menu drawer.</li>
                <li>For eCards, only those users are eligible for Refer and Earn Program who have purchased Yearly Pass eCards</li>
                <li>If an invited friend makes a purchase without the referral code, you will not be entitled for Paytm cashback reward. They will not be considered as Referred Friend.</li>
                <li>Referrer and Referred Friend(s) who are eligible for Paytm cashback must have Paytm account with the same phone number registered and verified on avision.co.in. In case they do not have Paytm account linked to same mobile number, Avision will not be able to give them Paytm cashback.</li>
                <li>Avision Pass or Course should be purchased online only.</li>
                <li>Paytm cashback will be credited to Referrer’s and Referred Friend(s)’ Paytm wallet directly only after 48 hours of successful purchase of Pass or Course by Referred Friend(s).</li>
                <li>Referred Friend will get Paytm cashback reward only if they have made a purchase post 15th May 2018.</li>
                <li>No refunds will be made to Referred Friend after purchase of Pass or Course.</li>
                <li>avision.co.in has complete authority to change the reward amount at any point of time. Successful Referral after such change(s) will receive the Paytm cashback as per latest reward amount.</li>
                <li>avision.co.in has complete authority to close this referral program at any point of time and will not be responsible for providing Paytm cashback in that scenario.</li>
            </ul>
        </div>
    </div>
    
</div>