<div id="doubts" style="margin: 50px 0">
    <div class="auto-container">
        <div class="row">
            <div class="col-sm-3 sticky liveclass-doubts-leftbar">
                <div class="form-group">
                    <label>All Subject</label>
                    <select class="form-control" (change)="getSubjectId($event.target.value)">
            <option selected="selected" value="0">All Subject</option>
						<option *ngFor="let sub of subeject;" value="{{sub.type_id}}">{{sub.type_name}}</option>
          </select>
                </div>
                <div class="form-group">
                    <label>All Chapter</label>
                    <select class="form-control" (change)="getChapterId($event.target.value)">
            <option selected="selected" value="0">All Chapter</option>
						<option *ngFor="let chap of chapter" value="{{chap.chapter_id}}">{{chap.chapter_name}}</option>
          </select>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="write_post_section">
                            <div class="user_mail_name">
                                <span>{{user_name_firstChar}}</span>
                            </div>
                            <div class="write_post_div">
                                <div class="input-group">
                                    <input id="" type="text" class="form-control" name="" placeholder="Have a Question...." disabled>
                                    <button class="input-group-addon" data-toggle="modal" data-target="#doubts_Modal"><i
                      class="fa fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- post comment -->
                        <div class="feeds_post">
                            <ng-container *ngFor="let data of doubtAlldata">
                                <div class="feeds_post_user">
                                    <ul>
                                        <li>
                                            <div class="feeds_user_mail_name">
                                                <span>{{data.first_char}}</span>
                                            </div>
                                        </li>
                                        <li class="user_fees_name">
                                            <h4>{{data.user_name}}</h4>
                                            <p><span>{{data.date_msg}}</span> </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="doubts_heading">
                                    <h3>{{data.doubt_title}}</h3>
                                    <p>{{data.doubt_desc}}</p>
                                    <a (click)="commentEvent(data.doubt_id)" href="javascript:void(0);" class="doubt_comment_btn" id="btn_com"><i class="fa fa-comments-o"
                            aria-hidden="true"></i> {{data.comment_count}}</a>
                                </div>
                            </ng-container>


                            <!-- <div class="doubts_image">
                            <img src="images/human.jpg">
                        </div> -->



                            <div class="doubts_comment_div" style="display:none">
                                <a (click)="Onback()" href="javascript:void(0)" id="back_btn"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
                                <div class="feeds_post">
                                    <div class="feeds_post_user_comment">
                                        <ul>
                                            <li>
                                                <div class="feeds_user_mail_name">
                                                    <span>{{commentDoubtname_short}}</span>
                                                </div>
                                            </li>
                                            <li class="user_fees_name">
                                                <h4>{{commentDoubtname}}</h4>
                                                <p><span>{{commentDoubtdate}}</span> </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="doubts_heading_comment">
                                        <h3>{{commentDoubttitle}}</h3>
                                        <p>{{commentDoubtdesc}}</p>

                                    </div>

                                </div>
                                <form [formGroup]="comment_form" method="post" (ngSubmit)="oncommentSubmit(comment_form)">
                                    <div class="write_post_section write_post_section_two">
                                        <div class="user_mail_name">
                                            <span>{{user_name_firstChar}}</span>
                                        </div>
                                        <div class="write_post_div">
                                            <div class="input-group">
                                                <textarea formControlName="commentDesc" id="commentDesc" class="form-control" rows="3" placeholder="Comments..." required></textarea>
                                                <input class="form-control" name="doubtid" type="hidden" formControlName="doubt_id" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="doubts_comment_btn">
                                        <button type="button" class="btn btn-cancel" (click)="OnCancel()">Cancel</button>
                                        <button type="submit" class="btn btn-comment">Comment</button>
                                    </div>
                                </form>
                                <h3>Answers ({{commentDoubtcount}})</h3>
                                <ng-container *ngIf="showComment">
                                    <ng-container *ngFor="let comment of comments_arr">

                                        <div class="feeds_post">
                                            <div class="feeds_post_user_comment">
                                                <ul>
                                                    <li>
                                                        <div class="feeds_user_mail_name">
                                                            <span>{{comment.firstChar}}
                              </span>
                                                        </div>
                                                    </li>
                                                    <li class="user_fees_name">
                                                        <h4>{{comment.user_name}}</h4>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="doubts_heading_comment">
                                                <p>{{comment.coment}}</p>

                                            </div>

                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- end post comment -->




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Doubts Modal -->
<div id="doubts_Modal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body" style="padding:15px;">
                <a href="javascript:void(0);" class="close_modal" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></a>
                <div class="feeds_post_user">
                    <ul>
                        <li>
                            <div class="feeds_user_mail_name">
                                <span>{{user_name_firstChar}}</span>
                            </div>
                        </li>
                        <li class="user_fees_name">
                            <h4>{{user_name}}</h4>
                            <p><span>Now</span></p>
                        </li>
                    </ul>
                </div>

                <div class="ask_doubts_section">
                    <h3>Have A Question ?</h3>
                    <form [formGroup]="doubt_submit_form" (ngSubmit)="ondoubtSubmit(doubt_submit_form)">

                        <div class="form-group">
                            <label>Doubt Type</label>
                            <select formControlName="doubtType" name="doubtType" class="form-control" (change)="doubtCategory($event.target.value)">
                <option>Choose Doubt Type</option>
                <option value="1">Techinical Doubt</option>
                <option value="2">General Doubt</option>
                <option value="3">Subject Related Doubt</option>
              </select>
                        </div>
                        <div id="mag" style="display: none;" class='form-group'>
                            <label>Choose Subject</label>
                            <select formControlName="subject" name="subject" id='join' class='form-control' (change)='getSubjectId($event.target.value)'>
                <option>Select Subject</option>
                <option *ngFor="let sub of subeject;" value="{{sub.type_id}}">{{sub.type_name}}</option>
              </select>
                        </div>
                        <div id="mag2" style="display: none;" class='form-group'>
                            <label>Choose Chapter</label>
                            <select formControlName="chapter" name="chapter" class='form-control'>
                <option>Select chapter</option>
                <option *ngFor="let chap of chapter" value="{{chap.chapter_id}}">{{chap.chapter_name}}</option>
              </select>
                        </div>
                        <div class="form-group">
                            <label>Add Doubt Title</label>
                            <input formControlName="doubtTitile" name="doubtTitile" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Add Description</label>
                            <textarea formControlName="doubtDesc" name="doubtDesc" rows="5" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <input formControlName="userId" name="userId" class="form-control" type="hidden" [ngModel]="user_id" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn_doubt_submit">Submit</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>