<div id="mocktests">
  <div class="auto-container">
    <div class="row">
      <div class="col-md-8 col-sm-12" *ngIf="!testDetailsLoader">
        <ngx-skeleton-loader                   
          [theme]="{ 
          'border-radius': '5px',
          height: '60vh',                    
          border: '1px solid white'
          }"
      ></ngx-skeleton-loader>
      </div>
      <div class="col-md-8 col-sm-12" *ngIf="testDetailsLoader">
        <div class="liveclass_mocktest_sec">
          <h3>Mock Test</h3>
          <div class="liveclass_mocktest_alllist">
            <ng-container *ngFor="let testDetails of testDetails">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#mocktest_Modal"
              class="liveclass_mocktest_list">
              <ul>
                <li><img src="{{testDetails.image}}" width="50px"></li>
                <li>
                  <h4>{{testDetails.quiz_name}}</h4>
                </li>
              </ul>
              <span><i class="fa fa-lock" aria-hidden="true"></i></span>
            </a>
            </ng-container>             
          </div>
        </div>

      </div>
      <div class="col-md-4 col-sm-12" *ngIf="!mockTestLoader">
        <ngx-skeleton-loader                   
          [theme]="{ 
          'border-radius': '5px',
          height: '250px',                    
          border: '1px solid white'
          }" >
        </ngx-skeleton-loader>
      </div>
      <div class="col-md-4 col-sm-12" *ngIf="mockTestLoader">
        <div class="liveclasstwo-sidebar">
          <h3>{{product_name}}</h3>
          <p>
            <span [innerHTML]="description"></span>
          </p>
          <ul class="liveclasstwo-sidebar-option" [innerHTML]="feature">
            
          </ul>
          <hr>
          <ul class="liveclasstwo-sidebar-price">
            <li><i class="fa fa-inr" aria-hidden="true"></i> {{product_offer_price}}/- <span><i class="fa fa-inr" aria-hidden="true"></i>
                {{product_price}}</span></li>
            <li><button class="btn btn-liveclass-buynow">Buy Now</button></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
