<!--Page Title-->
<section class="page-title cus-page-title" style="background-image:url(assets/images/background/pattern-4.png);  margin-top: -30px;">
    <div class="container">
        <h1>Videos</h1>
        <!-- <p>SBI PO 2019 Exam is a wonderful opportunity for you to turn your dreams into reality! Get all information about onlinesbi po - syllabus, preparation guide, last date to apply, exam dates, admit card, latest exam pattern and results here. Kick start your preparation now!</p> -->
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container">
            <div class="inner-container">
                <ul class="bread-crumb">
                    <li><a [routerLink]="['/dashboard']">Home</a></li>
                    <li>Videos</li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Page Info-->
</section>
<!--End Page Title-->

<section class="video-section">
    <div class="container">
        <div class="row live-video">
            <div class="col-md-12 col-lg-12 col-xl-12 col-12  padding-0">
                <!-- <h1>Live Videos</h1> -->
                <div class="row live-video-row" style="display: none;">
                    <div class="col-9 mx-auto col-md-6 col-lg-3" (click)="videoDetails('4Q-V3TgPWMw',searchQuery)">
                        <mat-card class="example-card">
                            <img class="card-img-top" src="https://estore.avision24x7.com/video_image/1593774995143.jpeg">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            <mat-card-content>
                                <p>
                                    Cloze Test English Tricks for SBI PO 2020 | Top 15 Questions for Bank Exam | Solve with Anjali Ma'am
                                </p>

                                <span>English Video</span>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <span class="live-video-label" color="warn">Live at 05:00 pm, Jul 22</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <!--col-->

                    <div class="col-9 mx-auto col-md-6 col-lg-3">
                        <mat-card class="example-card">

                            <img alt="Card image cap" class="card-img-top" src="https://estore.avision24x7.com/video_image/1593774995143.jpeg">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            <mat-card-content>
                                <p>
                                    Cloze Test English Tricks for SBI PO 2020 | Top 15 Questions for Bank Exam | Solve with Anjali Ma'am
                                </p>

                                <span>English Video</span>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <span class="live-video-label" color="warn">Live at 05:00 pm, Jul 22</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <!--col-->

                    <div class="col-9 mx-auto col-md-6 col-lg-3">
                        <mat-card class="example-card">

                            <img alt="Card image cap" class="card-img-top" src="https://estore.avision24x7.com/video_image/1593774995143.jpeg">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            <mat-card-content>
                                <p>
                                    Cloze Test English Tricks for SBI PO 2020 | Top 15 Questions for Bank Exam | Solve with Anjali Ma'am
                                </p>

                                <span>English Video</span>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <span class="live-video-label" color="warn">Live at 05:00 pm, Jul 22</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <!--col-->

                    <div class="col-9 mx-auto col-md-6 col-lg-3">
                        <mat-card class="example-card">

                            <img alt="Card image cap" class="card-img-top" src="https://estore.avision24x7.com/video_image/1593774995143.jpeg">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            <mat-card-content>
                                <p>
                                    Cloze Test English Tricks for SBI PO 2020 | Top 15 Questions for Bank Exam | Solve with Anjali Ma'am
                                </p>

                                <span>English Video</span>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <span class="live-video-label" color="warn">Live at 05:00 pm, Jul 22</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <!--col-->


                </div>
                <!--row-->

            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 col-12  padding-0">

                <div class="row youtube-subscribe-box">

                    <div class="col-sm-12 col-md-9 align-items-center">
                        <p>Never miss a video from us. Subscribe our Youtube channel now!</p>
                    </div>
                    <div class="col-sm-12 col-md-3 youtube-subscribe-btn">
                        <div class="g-ytsubscribe" data-channelid="UC3KcJmp8UC1Nnyc3wTiXGNA" data-layout="full" data-count="default"></div>
                    </div>
                </div>

            </div>
        </div>
        <!--row-->

        <div class="row video-by-subject">
            <div class="col-md-12 col-lg-12 col-xl-12 col-12  padding-0">
                <h1>Videos By Subjects</h1>
                <div class="row">

                    <div class="col-sm-12 col-md-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#1" role="tab" aria-controls="v-pills-home" aria-selected="true" (click)="searhYoutube('Bank')">Banking Awareness
                Videos </a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#1" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="searhYoutube('GK')">GK & Current Affairs
                Videos</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#2" role="tab" aria-controls="v-pills-messages" aria-selected="false" (click)="searhYoutube('Reasoning')">Reasoning
                Videos</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#3" role="tab" aria-controls="v-pills-settings" aria-selected="false" (click)="searhYoutube('English')">English
                Videos</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#4" role="tab" aria-controls="v-pills-settings" aria-selected="false" (click)="searhYoutube('Quantitative')">Quantitative Aptitude Videos</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#5" role="tab" aria-controls="v-pills-settings" aria-selected="false" (click)="searhYoutube('Teaching')">Teaching</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#5" role="tab" aria-controls="v-pills-settings" aria-selected="false" (click)="searhYoutube('Defence')">Defence</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <div class="tab-content" id="v-pills-tabContent" style="max-height: 60vh; overflow-y :auto; overflow-x: hidden;">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <div class="row live-video-row">

                                    <div class="col-9 col-md-6 col-lg-4 mx-auto" *ngFor="let video of searchVideoLists index as i" (click)="videoDetails(video.id.videoId, searchQuery)">
                                        <mat-card class="example-card">

                                            <img alt="Card image cap" class="card-img-top" src="{{video.snippet['thumbnails']['medium']['url']}}">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            <mat-card-content>
                                                <p [innerHTML]="video.snippet.title">

                                                </p>

                                                <span>{{searchQuery}} Video</span>
                                            </mat-card-content>
                                            <mat-divider></mat-divider>
                                            <mat-card-actions>
                                                <span class="live-video-label" color="warn">{{ video.snippet['publishedAt'] | date:'MMMM d, y' }}</span>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                    <!--col-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--video-by-subject-->

        <div class="row latest-video">
            <div class="col-md-12 col-lg-12 col-xl-12 col-12  padding-0">
                <h1>Latest Videos</h1>
                <div class="row live-video-row">
                    <div class="col-9 col-md-6 col-lg-3 mx-auto" *ngFor="let video of latestVideo" (click)="videoDetails(video.id.videoId, searchQuery)">
                        <mat-card class="example-card">
                            <img class="card-img-top" src="{{video.snippet['thumbnails']['medium']['url']}}">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            <mat-card-content>
                                <p [innerHTML]="video.snippet.title">
                                    Cloze Test English Tricks for SBI PO 2020 | Top 15 Questions for Bank Exam | Solve with Anjali Ma'am
                                </p>


                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <span class="live-video-label" color="warn">{{ video.snippet['publishedAt'] | date:'fullDate' }}</span>

                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <!--col-->

                </div>
                <!--row-->

            </div>
        </div>
    </div>
</section>