<div class="auto-container">
    <div class="row">
        <div class="col-sm-12 atse-main">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center">Choose One</h2>
                </div>
            </div>
            <mat-card>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="cus_test_inner_back">
                            <h4>IBPS PO PRELIMS MOCK TEST-3</h4>
                            <ul _ngcontent-serverapp-c24="">
                                <li _ngcontent-serverapp-c24=""><i _ngcontent-serverapp-c24="" aria-hidden="true" class="fa fa-question-circle-o"></i> 100 Questions </li>
                                <li _ngcontent-serverapp-c24=""><i _ngcontent-serverapp-c24="" aria-hidden="true" class="fa fa-file-text-o"></i> 100 Marks</li>
                                <li _ngcontent-serverapp-c24=""><i _ngcontent-serverapp-c24="" aria-hidden="true" class="fa fa-clock-o"></i> 60 Mins</li>
                            </ul>
                            <a _ngcontent-serverapp-c24="" class="btn btn_lock_test ng-star-inserted" href="/#/exam/16">Start Test</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="cus_test_inner_back">
                            <h4>IBPS PO CLERK MOCK TEST-3</h4>
                            <ul _ngcontent-serverapp-c24="">
                                <li _ngcontent-serverapp-c24=""><i _ngcontent-serverapp-c24="" aria-hidden="true" class="fa fa-question-circle-o"></i> 100 Questions </li>
                                <li _ngcontent-serverapp-c24=""><i _ngcontent-serverapp-c24="" aria-hidden="true" class="fa fa-file-text-o"></i> 100 Marks</li>
                                <li _ngcontent-serverapp-c24=""><i _ngcontent-serverapp-c24="" aria-hidden="true" class="fa fa-clock-o"></i> 60 Mins</li>
                            </ul>
                            <a _ngcontent-serverapp-c24="" class="btn btn_lock_test ng-star-inserted" href="/#/exam/27">Start Test</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center atse_btn">
                        <a (click)="closeExampopup()" href="javascript:void(0)" mat-raised-button>Close</a>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>