.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.freequiz {
    padding: 90px 90px;
}

.boxes {
    height: 20vh;
    width: 44vw;
    background-color: blue;
}

.main-panel {
    height: 100px;
    overflow: scroll;
    flex: none;
}

.form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
}

.form-control::placeholder {
    font-family: FontAwesome;
}

.test-title-text h4 {
    font-weight: 500;
    min-height: 80px;
}

mat-form-field {
    width: 100%;
}

h3 mat-icon {
    vertical-align: middle;
    color: #333;
}

h3 {
    color: #333;
}

.mat-select {
    font-weight: 700;
}

.mat-select-value-text span {
    color: #666 !important;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.freequiz {
    padding: 90px 90px;
}

.boxes {
    height: 20vh;
    width: 44vw;
    background-color: blue;
}

.main-panel {
    height: 100px;
    overflow: scroll;
    flex: none;
}

.form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
}

.form-control::placeholder {
    font-family: FontAwesome;
}

.test-title-text h4 {
    font-weight: 500;
    min-height: 80px;
}