.liveclass_mocktest_alllist{
    height: 70vh;
    overflow-y: auto;
}
a:hover{
    text-decoration: none;
}
.late_banner h4, .late_banner h5 {
    margin: 0 !important;
}

.btn-liveclass-buynow {
    background: #1546d4;
    color: #fff;
    padding: 8px 20px;
}

.next-liveclass-heading{
    color: #857fe0;
    font-size: 18px;
    margin: 10px 0;
}

.liveclass-subject-sub-head {
    font-size: 16px;
    color: #28227a;
    margin: 15px 0 0;
}
.liveclasstwo-sidebar h3
{
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin: 10px 0 20px;
}


.liveclass-thumb-heading {
    font-size: 21px;
    font-weight: 300;
    color: #7b7b7b;
}
