<ngx-spinner bdColor="rgba(0, 0, 0, 1)"></ngx-spinner>

<section class="main-banner-slider">
    <div class="container-fluid" *ngIf="!bannerLoading">
        <div>
            <ngx-skeleton-loader [theme]="{ 
                'border-radius': '5px',
                height: '80vh',
                'width': '100%',                    
                border: '1px solid white'
                }"></ngx-skeleton-loader>
        </div>
    </div>
    <div class="container-fluid" *ngIf="bannerLoading">
        <owl-carousel-o [options]="customOptions">
            <ng-container class="main-carousel">
                <div class="main-carousel" *ngFor="let bannerdata of bannerDetails ;  index as i ">
                    <ng-template carouselSlide #oddTemplate>
                        <div class="item" id="{{i}}">
                            <div class="cover" [ngStyle]="{'background-image': 'url(' + bannerdata.banner_background_image + ')'}">
                                <div class="container">
                                    <div *ngIf="(i%2)===0;" class="row">
                                        <div class="col-sm-7 col-md-6">
                                            <div class="header-content" [innerHTML]="bannerdata.main_heading+bannerdata.sub_heading+bannerdata.banner_sub_sub_heading">

                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-md-6">
                                            <div class="slide-image fadeinleft animated">
                                                <img src="{{bannerdata.banner_image}}" class="img-responsive">
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="(i%2)!==0;" class="row">
                                        <div class="col-sm-5 col-md-6">
                                            <div class="slide-image fadeinleft animated">
                                                <img src="{{bannerdata.banner_image}}" class="img-responsive">
                                            </div>
                                        </div>

                                        <div class="col-sm-7 col-md-6">
                                            <div class="header-content" [innerHTML]="bannerdata.main_heading+bannerdata.sub_heading+bannerdata.banner_sub_sub_heading">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>

            </ng-container>

        </owl-carousel-o>
    </div>

</section>

<section class="featured-section">
    <div class="container">
        <div class="inner-container clearfix">
            <div class="row">
                <!--Featured Block-->
                <div class="featured-block col col-lg-4 col-sm-6  col-12">
                    <div class="inner-box">
                        <div class="lower-box">
                            <div class="lower-inner">
                                <div class="icon-box">
                                    <span class="icon"><img src="assets/images/icons/featured-icon-1.png" alt="" /></span>
                                </div>
                                <h3><a href="javascript:void(0)" class="icon-box-a"> 100000 + Students <span
                      class=".d-block .d-sm-none"><br></span>Trusted On Us</a></h3>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Featured Block-->
                <div class="featured-block col col-lg-3 col-sm-6  col-12">
                    <div class="inner-box">

                        <div class="lower-box">
                            <div class="lower-inner">
                                <div class="icon-box">
                                    <span class="icon"><img src="assets/images/icons/featured-icon-2.png" alt="" /></span>
                                </div>
                                <h3><a href="javascript:void(0)">5000+ Success<span class=".d-block .d-sm-none"><br></span> Stories</a>
                                </h3>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Featured Block-->
                <div class="featured-block col col-lg-2 col-sm-6  col-12">
                    <div class="inner-box">

                        <div class="lower-box">
                            <div class="lower-inner">
                                <div class="icon-box">
                                    <span class="icon"><img src="assets/images/icons/featured-icon-3.png" alt="" /></span>
                                </div>
                                <h3 style="vertical-align:middle;"><a href="javascript:void(0)">100+ <span
                      class=".d-block .d-sm-none"><br></span> Courses</a></h3>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Featured Block-->
                <div class="featured-block col col-lg-3 col-sm-6  col-12">
                    <div class="inner-box">

                        <div class="lower-box">
                            <div class="lower-inner">
                                <div class="icon-box">
                                    <span class="icon"><img src="assets/images/icons/featured-icon-4.png" alt="" /></span>
                                </div>
                                <h3><a href="https://play.google.com/store/apps/details?id=com.visiabletech.avision&hl=en">Download <span class=".d-block .d-sm-none"><br></span> The App</a></h3>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>





<section class="exam-section" style="background:url('assets/images/back_3.png');background-repeat:no-repeat;background-size:cover;">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>All Exams</h2>
        </div>
        <div class="container-fluid" *ngIf="!examLoader">
            <div>
                <ngx-skeleton-loader [theme]="{ 
                    'border-radius': '5px',
                    height: '50px',
                    'width': '100%',                    
                    border: '1px solid white'
                    }"></ngx-skeleton-loader>

                <ngx-skeleton-loader [theme]="{ 
                    'border-radius': '5px',
                    height: '40vh',
                    'width': '100%',                    
                    border: '1px solid white'
                    }"></ngx-skeleton-loader>
            </div>
        </div>
        <div class="container-fluid" *ngIf="examLoader">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs">
                                <li class="">
                                    <a href="#{{course.courses_id}}" id={{course.courses_id}} data-toggle="tab" (click)="getSubCourse($event)" *ngFor="let course of courseDetails; index as i">{{course.courses_name}} </a>
                                </li>
                            </ul>
                            <div class="tab-content" style="min-height: 20vh;">
                                <!-- bank tabs-->
                                <div class="row">
                                    <div class="col-12 col-sm-4 col-lg-7"></div>
                                    <div class="col-12 col-sm-8 col-lg-5" style="margin-bottom: 20px;">
                                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching by course name or exam name....">
                                    </div>
                                </div>
                                <div class="tab-pane active">
                                    <ul class="exam-lists">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6 col-sm-6 col-12 course_sub_list" *ngFor="let subCourse of subCourse | filter: searchText">
                                                    <a [routerLink]="['courseinfo',subCourse.sub_cat_slug]">
                                                        <img src="https://estore.avision24x7.com/{{subCourse.sub_category_image}}" width="50px">
                                                        <span>{{subCourse.sub_category_name}}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="exam-peparation-section" style="background-image:url(assets/images/background/3.png);background-repeat: no-repeat;">
    <div class="auto-container">

        <div class="row clearfix">
            <div class="col-md-6 col-sm-12 col-12">
                <div class="" style="margin-bottom:5px;">
                    <h1 style="font-size: 26px;font-weight: 600;">Welcome To Avision Institute</h1>
                    <h4>{{examPreprationTitle}}</h4>
                </div>
                <div class="text">{{examPreprationContent}}</div>
            </div>
            <div class="col-md-6 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <a [routerLink]="['liveclass']" class="exam-preparation" style="background:url('assets/images/back1.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;">
                            <h5>Live Classes</h5>
                            <!-- <h3>Best Online Courses by <br/>Top Teachers</h3> -->
                            <!-- <a href="#">Explore Courses <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> -->
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <a [routerLink]="['courses']" class="exam-preparation" style="background:url('assets/images/back2.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;">
                            <h5>Online Courses</h5>
                            <!-- <h3>Best Online Courses by <br/>Top Teachers</h3> -->
                            <!-- <a href="#">Explore Courses <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> -->
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <a [routerLink]="['testseries']" class="exam-preparation" style="background:url('assets/images/back3.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;">
                            <h5>Test Series</h5>
                            <!-- <h3>Best Online Courses by <br/>Top Teachers</h3> -->
                            <!-- <a href="#">Explore Courses <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> -->
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <a [routerLink]="['enquiry-form']" class="exam-preparation" style="background:url('assets/images/back4.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;">
                            <h5>Classroom <br>Coaching</h5>
                            <!-- <h3>Best Online Courses by <br/>Top Teachers</h3> -->
                            <!-- <a href="#">Explore Courses <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> -->
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>





<div class="full_width">
    <section class="blog-page-section populer-course-section" col-12 id="popular-courses">
        <div class="container">
            <div class="sec-title">
                <h3> Popular Courses</h3>
            </div>
            <div class="row" *ngIf="!loader">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-none d-sm-block">
                    <ngx-skeleton-loader [theme]="{ 
                    'border-radius': '5px',
                    height: '250px',                    
                    border: '1px solid white'
                    }"></ngx-skeleton-loader>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-none d-sm-block">
                    <ngx-skeleton-loader [theme]="{ 
                    'border-radius': '5px',
                    height: '250px',                    
                    border: '1px solid white'
                    }"></ngx-skeleton-loader>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-none d-sm-block">
                    <ngx-skeleton-loader [theme]="{ 
                    'border-radius': '5px',
                    height: '250px',                    
                    border: '1px solid white'
                    }"></ngx-skeleton-loader>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-none d-sm-block">
                    <ngx-skeleton-loader [theme]="{ 
                    'border-radius': '5px',
                    height: '250px',                    
                    border: '1px solid white'
                    }"></ngx-skeleton-loader>
                </div>


            </div>


            <div class="row" *ngIf="loader">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-none d-sm-block" *ngFor="let videoData of videoData; let i=index">
                    <div class="card" *ngIf="i<4">
                        <img class="card-img-top" src="{{videoData.product_img}}" alt="Card image cap">
                        <div class="cus-courses-price">
                        </div>
                        <div class="card-body">
                            <div class="lower-content">
                                <div class="upper">
                                    <h3><a href="#">{{videoData.product_name}}</a></h3>
                                    <ul class="courses_tags">
                                        <ng-container *ngFor="let tags of videoData.product_tags">
                                            <li style="margin-right: 5px;margin-bottom: 5px;display: inline-block;"><i class="fa fa-tag"></i> {{tags}}</li>
                                        </ng-container>
                                    </ul>
                                    <!--<hr />
                                    <div class="post-limit vid_detail_price">
                                        <h5><i aria-hidden="true" class="fa fa-inr"></i>{{videoData.product_offer_price}}
                                            <span class="vid_main_price"><i aria-hidden="true"
                          class="fa fa-inr"></i>{{videoData.product_price}}</span>
                                            <span class="vid_offer_per">{{(videoData.product_price - videoData.product_offer_price)*100/videoData.product_price | number: "2.0-0"}}
                        % off</span>
                                        </h5>
                                    </div>-->
                                </div>
                                <a class="btn btn btn-block btn-primary btn-sm" (click)="gotoVideoDetailsPage(videoData.product_slug)" style="color:#fff"> View Course</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--row-->

            <owl-carousel-o [options]="customOptions4" class="d-block d-sm-none">
                <ng-template carouselSlide *ngFor="let videoData of videoData; let i=index">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-11 mx-auto">
                        <div class="card">
                            <img class="card-img-top" src="{{videoData.product_img}}" alt="Card image cap">
                            <div class="cus-courses-price">
                            </div>
                            <div class="card-body">
                                <div class="lower-content">
                                    <div class="upper">
                                        <h3><a href="#">{{videoData.product_name}}</a></h3>
                                        <p class="courses_tags">
                                            <ng-container *ngFor="let tags of videoData.product_tags">
                                                <span style="margin-right: 5px;margin-bottom: 5px;display: inline-block;"><i class="fa fa-tag"></i>  {{tags}}</span>
                                            </ng-container>
                                        </p>
                                        <!--<hr />
                                        <div class="post-limit vid_detail_price">
                                            <h5><i aria-hidden="true" class="fa fa-inr"></i>{{videoData.product_offer_price}}
                                                <span class="vid_main_price"><i aria-hidden="true"
                            class="fa fa-inr"></i>{{videoData.product_price}}</span>
                                                <span class="vid_offer_per">{{(videoData.product_price - videoData.product_offer_price)*100/videoData.product_price | number: "2.0-0"}}
                          % off</span>
                                            </h5>
                                        </div>-->
                                    </div>
                                    <a (click)="gotoVideoDetailsPage(videoData.product_slug)" class="btn btn btn-block btn-primary btn-sm" style="color:#fff"> View Course</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </owl-carousel-o>
            <div class="centered">
                <br><br>
                <a [routerLink]="['liveclass']" class="theme-btn btn-style-one">View All Courses</a>
                <br><br><br><br>
            </div>
        </div>
    </section>
</div>
<!-- End Popular Courses section -->


<section class="services-section cus-facilities" style="background:url('assets/images/back_4.png');background-repeat:no-repeat;background-size:cover;">
    <div class="container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>Whats Unique with Avision</h2>
        </div>

        <div class="market-content">
            <div class="content-inner">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-12">
                        <div class="featured-block-three cus-featured-block-three">
                            <div class="featured-inner">
                                <div class="icon-box">
                                    <span class="icon"><img src="assets/images/smartclassroom_icon.png" alt="" /></span>
                                </div>
                                <h4>Smart Classroom</h4>
                                <div class="featured-text">
                                    <span>Digital Learning </span>
                                    <span>Uniform Lecture Delivery</span>
                                    <span>Questions with timer</span>
                                    <span>Exam Oriented Learning</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-12">
                        <div class="featured-block-three cus-featured-block-three">
                            <div class="featured-inner">
                                <div class="icon-box">
                                    <span class="icon"><img src="assets/images/course_material.png" alt="" /></span>
                                </div>
                                <h4>Course Material</h4>
                                <div class="featured-text">
                                    <span>Comprehensive Course Material for all subject in English & Hindi </span>
                                    <span>Contains Solution Books</span>
                                    <span>Contains Questions & Examples VI?</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-12">
                        <div class="featured-block-three cus-featured-block-three">
                            <div class="featured-inner">
                                <div class="icon-box">
                                    <span class="icon"><img src="assets/images/online_test_series.png" alt="" /></span>
                                </div>
                                <h4>Online Test Series</h4>
                                <div class="featured-text">
                                    <span>Computer Lab for Online tests </span>
                                    <span>Interactive Review & Analysis</span>
                                    <span>National Level Ranking</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-12">
                        <div class="featured-block-three cus-featured-block-three">
                            <div class="featured-inner">
                                <div class="icon-box">
                                    <span class="icon"><img src="assets/images/membership_card.png" alt="" /></span>
                                </div>
                                <h4>Life Time Membership</h4>
                                <div class="featured-text">
                                    <span>Enjoy Continuous Training till Selection</span>
                                    <span>Membership Batch Facility</span>
                                    <span>Branch Transfer Facilityp</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-12">
                        <div class="featured-block-three cus-featured-block-three">
                            <div class="featured-inner">
                                <div class="icon-box">
                                    <span class="icon"><img src="assets/images/monthly_magazine.png" alt="" /></span>
                                </div>
                                <h4>Monthly Magazine</h4>
                                <div class="featured-text">
                                    <span>Last 6 Months Current Affairs</span>
                                    <span>Comprehensive Banking Awareness</span>
                                    <span>G.K. One liner Questions </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-12">
                        <div class="featured-block-three cus-featured-block-three">
                            <div class="featured-inner">
                                <div class="icon-box">
                                    <span class="icon"><img src="assets/images/other_benefits.png" alt="" /></span>
                                </div>
                                <h4>Other Benefits</h4>
                                <div class="featured-text">
                                    <span>Daily Class Assignments</span>
                                    <span>Specialised Trainers & Doubt Sessions</span>
                                    <span>Interview Preparation </span>
                                    <span>Android Apps</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="test-series-section" style="background:url('assets/images/back_3.png');background-repeat:no-repeat;background-size:cover;">
    <div class="container">
        <div class="sec-title">
            <h3>Test Series</h3>
        </div>
        <div class="row">

            <!-- singel test series -->
            <div class="col-md-3 col-sm-6 col-12 d-none d-sm-block" *ngFor="let testSeriesData of testSeriesData">
                <div class="cus-test-series-slide">
                    <div class="test-series-back">
                        <div class="test-icon text-center">
                            <img src="https://estore.avision24x7.com/course_logo/1547123161793.png" width="50px">
                        </div>
                        <div class="test-title-text text-center">
                            <h4>{{testSeriesData.product_name}}</h4>
                            <p>{{testSeriesData.total_count}} Total Test</p>
                            <hr>
                            <ul>
                                <li>{{testSeriesData.full_test_count}} Full Test - Prelims</li>
                                <li>{{testSeriesData.prev_year_count}} Advanced Test - Prelims</li>
                            </ul>
                            <hr>
                        </div>
                        <a [routerLink]="['testinner/',testSeriesData.product_slug]" class="btn btn-block btn-primary">Take Test</a>
                    </div>
                </div>

            </div>
        </div>


        <owl-carousel-o [options]="customOptions4" class="d-block d-sm-none">
            <ng-template carouselSlide *ngFor="let testSeriesData of testSeriesData">
                <div class="col-md-3 col-sm-6 col-10 mx-auto">
                    <div class="cus-test-series-slide">
                        <div class="test-series-back">
                            <div class="test-icon text-center">
                                <img src="https://estore.avision24x7.com/course_logo/1547123161793.png" style="width:50px; height:50px; margin: 0 auto;">
                            </div>
                            <div class="test-title-text text-center">
                                <h4>{{testSeriesData.product_name}}</h4>
                                <p>{{testSeriesData.total_count}} Total Test</p>
                                <hr>
                                <ul>
                                    <li>{{testSeriesData.full_test_count}} Full Test - Prelims</li>
                                    <li>{{testSeriesData.prev_year_count}} Advanced Test - Prelims</li>
                                </ul>
                                <hr>
                            </div>
                            <a [routerLink]="['testinner/',testSeriesData.product_slug]" class="btn btn-block btn-primary">Take Test</a>
                        </div>
                    </div>

                </div>
            </ng-template>
        </owl-carousel-o>



        <div class="view-btn-section centered">
            <a [routerLink]="['testseries']" class="theme-btn btn-style-one">View All Test Series</a>
        </div>
    </div>
</section>

<section class="schoolar_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pass_banner">
                    <a [routerLink]="['pass']"><img src="{{page_banner && page_banner[0]?.banner_url}}" alt="pass_banner" /></a>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="we-are-section cus-our-number-section" style="background-image:url(assets/images/background/3.png);background-repeat: no-repeat;padding-bottom:0; background-size: cover;">
    <div class="container">
        <div class="row clearfix">
            <!--Content Column-->
            <div class="content-column col-md-12 col-sm-12 col-12">
                <div class="sec-title text-center">
                    <!-- <div class="bold-text"> Why Avisiongroup.in</div> -->
                    <h2>Our Results</h2>

                </div>
            </div>
            <!--Carousel Column-->
            <div class="col-md-12 col-sm-12 col-12">
                <div class="singleinfostabs">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" *ngFor="let resultData of resultData; index as i">
                            <a *ngIf="i===0" class="nav-link active" id="{{resultData.term_id}}" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true" (click)="getSingleStudentImage($event)">{{resultData.name}}</a>
                            <a *ngIf="i>0" class="nav-link" id="{{resultData.term_id}}" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true" (click)="getSingleStudentImage($event)">{{resultData.name}}</a>

                        </li>

                    </ul>
                    <hr>
                </div>


                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <owl-carousel-o [options]="customOptions2">
                            <ng-template carouselSlide *ngFor="let getStudentImage of getStudentImage">
                                <div class="slide" class="student_result">
                                    <div class="student_result_img">
                                        <img src="{{getStudentImage.guid}}">
                                    </div>
                                    <div class="student_result_text">
                                        <h3>{{getStudentImage.post_title}}</h3>
                                        <h4>{{getStudentImage.meta_value}}</h4>
                                    </div>

                                </div>
                            </ng-template>

                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mobile-section" style="background:url('assets/images/back_3.png');background-repeat:no-repeat;background-size:cover;">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-12">
                    <div class="image">
                        <img src="assets/images/mobile-img.png" alt="" />
                    </div>
                </div>
                <!--Form Column-->
                <div class="form-column col-md-6 col-sm-12 col-12">
                    <div class="inner-column">
                        <h2>Government Job in your Pocket</h2>
                        <div class="text">Send app download link to your phone</div>
                        <div class="mobile-form">
                            <form method="post" action="">
                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Mobile Number" required="">
                                    <button type="submit" class="theme-btn btn-style-one">Get Link</button>
                                </div>
                            </form>
                        </div>
                        <ul class="app-icon-list">
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=com.visiabletech.avision&hl=en" target="_blank"><img src="assets/images/google-play.png"></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="student-review-section">
    <div class="container">
        <div class="row">
            <div class="title-column col-md-5 col-sm-12 col-12">
                <div class="inner-column">
                    <h2>Student Reviews</h2>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!testimonialLoader">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <ngx-skeleton-loader [theme]="{ 
              'border-radius': '5px',
              height: '30vh',
              'width': '100%',                    
              border: '1px solid white'
              }"></ngx-skeleton-loader>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <ngx-skeleton-loader [theme]="{ 
              'border-radius': '5px',
              height: '30vh',
              'width': '100%',                    
              border: '1px solid white'
              }"></ngx-skeleton-loader>
            </div>
        </div>
        <div class="row" *ngIf="testimonialLoader">
            <div class="col-lg-12 col-12">
                <owl-carousel-o [options]="customOptions3">
                    <ng-template carouselSlide *ngFor="let timonialDetails of timonialDetails">
                        <div class="student-review">
                            <!-- slide-->
                            <div class="student-review-block">
                                <div class="student-review-inner-block">
                                    <div class="review-student-details ">


                                        <ul class="review-students">
                                            <li><img src="assets/images/resource/{{timonialDetails.image}}"></li>
                                            <li>
                                                <h3>{{timonialDetails.user_name}}</h3>
                                            </li>
                                        </ul>

                                        <ul class="student-review-star">
                                            <li><i class="fa fa-star" aria-hidden="true" *ngFor="let i of createRange(timonialDetails.rating)"></i></li>
                                        </ul>


                                    </div>
                                    <div class="student-review-content">
                                        <p>"{{timonialDetails.content}}"</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!--End Testimonial Section-->


<section class="partners-section" style="background:url('assets/images/back_3.png');background-repeat:no-repeat;background-size:cover;">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Title Column-->
            <div class="title-column col-md-8 col-sm-8 col-12">
                <div class="inner-column">
                    <h2>Start Your Exam Preparation Now!</h2>
                    <div class="text">Practice, Analyze and Improve.</div>
                    <a [routerLink]="['liveclass']" class="theme-btn btn-style-one">Explore Courses</a>
                </div>
            </div>

            <!--Partners Column-->
            <div class="partners-column col-md-4 col-sm-4 col-12">
                <div class="partner-block">
                    <div class="inner-box">
                        <img src="assets/images/explore-courses.png">
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>