<section class="courses-main-detail-section video_courses_details_inner">
  <div class="col-md-12 col-lg-11 col-xl-10 col-12  padding-0">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-dark">
        <thead>
          <tr>
            <th>Order Details</th>
            <th>Cost</th>
            <th>Amount Paid</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IBPS Clerk (Pre+Mains) Combo 2018 -<br>2018-09-18 01:51:59<br>MOJO8918005A19464836</td>
            <td>188</td>
            <td>180.00</td>
            <td>Completed <br><a href="#">Invoice</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
