<div class="live-class-panel-header">
        <div class="container-fluid">
            <h3><a href="#"><i class="fa fa-arrow-left"></i></a> Complete Course For SBI PO</h3>
        </div>
    </div>
    <div class="main-liveclass-panel">
            <div class="cus-left-liveclass-panel">
                    <div class="liveclass-left-search">
                            <div class="search-live-class">
                                    <!-- <div class="liveclass-search-demo">
                                            <div class="demo-search-suject">
                                                    Subject
                                            </div>
                                            <a (click)="openSeacrh()" href="javascript:void(0);" id="demo-search-btn"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    </div> -->
                                    <div id="main-liveclass-sear" class="input-group">
                                            <input id="" type="search" class="form-control" autocomplete="off" placeholder="&#61442;  Start searching by subject name....">
                                            <span  class="input-group-addon" id="close-sear"><mat-icon>clear</mat-icon></span>
                                    </div>
                            </div>
                            <div (click)="openLeftBar()" id="left-sidebar-toggle-btn" class="liveclass-left-toggle-bar">
                                    <i class="fa fa-align-left"></i>
                            </div>
                    </div>
                    <div class="liveclass-left-filter">
                            <select class="form-control">
                                    <option>English</option>
                                    <option>Quantitative Aptitude</option>
                                    <option>Logical Reasoning </option>
                                    <option>Banking Awareness</option>
                                    <option>Current Affairs</option>
                                    <option>Daily English Practice</option>
                                    <option>All Subjects</option>
                            </select>
                    </div>
                    <div class="cus-liveclass-leftsidebars">
                            <ul class="liveclass-list-sidebar">
                                    <li> <a href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard" class="collapsed practice_chapter" ><span class="nav-label"> Quantitative Aptitude </span> </a>
                                        <ul class="sub-menu collapse" id="dashboard">
                                            <li><a href="javascript:void(0);">
                                                    <div class="liveclass-leftsidebars-sub-heading">Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>30 mins</span></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li> <a href="javascript:void(0);" data-toggle="collapse" data-target="#products" class="collapsed practice_chapter" > <span class="nav-label">Data Interpretation</span> </a>
                                        <ul class="sub-menu collapse" id="products">
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li> <a href="javascript:void(0);" data-toggle="collapse" data-target="#tables" class="collapsed practice_chapter" ><span class="nav-label">English</span></a>
                                        <ul class="sub-menu collapse" id="tables">
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li> <a href="javascript:void(0);" data-toggle="collapse" data-target="#e-commerce" class="collapsed practice_chapter" > <span class="nav-label">Verbal Reasoning</span></a>
                                        <ul class="sub-menu collapse" id="e-commerce">
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                            <li><a href="javascript:void(0);" class="lock-class">
                                                    <div class="liveclass-leftsidebars-sub-heading"><span class="live-class-tag">Live Class</span> Subject verb Agreement</div>
                                                    <div class="liveclass-leftsidebars-sub-content"><i class="fa fa-play-circle"></i> <span>120 mins</span> | <span>Was live on Apr 29</span></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                            </ul>
                    </div>
            </div>
            <div class="cus-middle-liveclass-panel slideright-middle">
                    <div class="video-content">
                            <iframe width="100%" height="690" src="https://www.youtube.com/embed/Bey4XXJAqS8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="live-class-teacher-details">
                            <h4>Subject verb Agreement</h4>
                            <ul class="live-class-teacher">
                                <li><img src="images/smartclassroom_icon.png" ></li>
                                <li><b>Teacher Name</b> <span>English Expert | 5+ Years Experience | RBI Assistant, SBI Clerk</span></li>
                            </ul>
                    </div>
            </div>
            <div class="cus-right-liveclass-panel slideright">
                    <div class="liveclass-right-takenote">
                            <div (click)="openRightBar()" id="right-sidebar-toggle-btn" class="liveclass-left-toggle-bar">
                                    <i class="fa fa-align-left"></i>
                            </div>
                            <div class="takenote-live-class">
                                    <a href="javascript:void(0);">Take Note</a>
                            </div>
                    </div>
                    <div class="liveclass-takedemo-panel">
                            <ul class="liveclass-takedemo-details">
                                    <li><img src="http://estore.avision24x7.com/video_image/1552913462437.jpg" class="img-responsive"></li>
                                    <li><textarea placeholder="Type yournotes here"></textarea></li>
                                </ul>
                    </div>
                    <div class="live-class-takedemo-btn">
                            <ul>
                                    <li><a href="javascript:void(0);"><i class="fa fa-image"></i> Take Screenshot</a></li>
                                    <li><a href="javascript:void(0);">Download PDF</a></li>
                                </ul>
                    </div>
            </div>
    </div>
