<!--Page Title-->
<section class="page-title cus-page-title" style="background-image:url(assets/images/background/pattern-4.png); margin-top: -30px;">
  <div class="container">
    <h1>Test Series</h1>
    <!-- <p>SBI PO 2019 Exam is a wonderful opportunity for you to turn your dreams into reality! Get all information about onlinesbi po - syllabus, preparation guide, last date to apply, exam dates, admit card, latest exam pattern and results here. Kick start your preparation now!</p> -->
  </div>
  <!--Page Info-->
  <div class="page-info">
    <div class="container">
      <div class="col-md-12 col-lg-11 col-xl-10 col-12  padding-0">
        <div class="inner-container">
          <ul class="bread-crumb">
            <li><a [routerLink]="['']">Home</a></li>
            <li>Test Series</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--End Page Info-->
</section>
<!--End Page Title-->
<div class="col-md-12 col-lg-11 col-xl-10 col-12  padding-0">
  <section class="test-series-section"
    style="background:url('assets/images/back_3.png');background-repeat:no-repeat;background-size:cover;">
    <div class="container">
      <div class="sec-title">
        <h3> Trending Test Series</h3>
      </div>
      <div class="row" *ngIf="!testSeriesLoader">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-none d-sm-block">
          <ngx-skeleton-loader [theme]="{ 
                  'border-radius': '5px',
                  height: '250px',                    
                  border: '1px solid white'
                  }"></ngx-skeleton-loader>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-none d-sm-block">
          <ngx-skeleton-loader [theme]="{ 
                  'border-radius': '5px',
                  height: '250px',                    
                  border: '1px solid white'
                  }"></ngx-skeleton-loader>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-none d-sm-block">
          <ngx-skeleton-loader [theme]="{ 
                  'border-radius': '5px',
                  height: '250px',                    
                  border: '1px solid white'
                  }"></ngx-skeleton-loader>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-none d-sm-block">
          <ngx-skeleton-loader [theme]="{ 
                  'border-radius': '5px',
                  height: '250px',                    
                  border: '1px solid white'
                  }"></ngx-skeleton-loader>
        </div>


      </div>

      <div class="row" *ngIf="testSeriesLoader">

        <!-- singel test series -->
        <div class="col-md-4 col-lg-4 col-xl-3 col-sm-6 col-12" *ngFor="let testSeriesData of testSeriesData">
          <div class="cus-test-series-slide">
            <div class="test-series-back">
              <div class="test-icon text-center">
                <img src="https://estore.avision24x7.com/{{testSeriesData.sub_category_image}}" width="50px">
              </div>
              <div class="test-title-text text-center">
                <h4>{{testSeriesData.product_name}}</h4>
                <p>{{testSeriesData.total_count}} Total Test</p>
                <hr>
                <ul>
                  <li>{{testSeriesData.full_test_count}} Full Test - Prelims</li>
                  <li>{{testSeriesData.prev_year_count}} Advanced Test - Prelims</li>
                </ul>
                <hr>
              </div>
              <a (click)="testInner(testSeriesData.product_id)" class="btn btn-block btn-primary"
                style="color: #fff">Take Test</a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>



  <section class="test-series-main-section">
    <div class="auto-container">
      <div class="row" *ngIf="!courseLoader">
        <div>
          <ngx-skeleton-loader [theme]="{ 
                  'border-radius': '5px',
                  height: '50px',
                  'width': '100%',                    
                  border: '1px solid white'
                  }"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="row" *ngIf="courseLoader">
        <div class="col-md-12">
          <div class="tabbable-panel">
            <div class="tabbable-line">
              <ul class="nav nav-tabs">
                <li class="">
                  <ng-container *ngFor="let course of courseDetails; index as i">
                    <a href="#{{course.courses_id}}" id={{course.courses_id}} data-toggle="tab"
                      (click)="getSubCourse($event)" *ngIf="i==0" class="active">{{course.courses_name}} </a>
                    <a href="#{{course.courses_id}}" id={{course.courses_id}} data-toggle="tab"
                      (click)="getSubCourse($event)" *ngIf="i>0">{{course.courses_name}} </a>
                  </ng-container>

                </li>
              </ul>
              <div class="tab-content" style="min-height: 20vh;" *ngIf="!subCourseLoader">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6 col-12 ">
                    <ngx-skeleton-loader [theme]="{ 
                              'border-radius': '5px',
                              height: '250px',                    
                              border: '1px solid white'
                              }"></ngx-skeleton-loader>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6 col-12 ">
                    <ngx-skeleton-loader [theme]="{ 
                              'border-radius': '5px',
                              height: '250px',                    
                              border: '1px solid white'
                              }"></ngx-skeleton-loader>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6 col-12 ">
                    <ngx-skeleton-loader [theme]="{ 
                              'border-radius': '5px',
                              height: '250px',                    
                              border: '1px solid white'
                              }"></ngx-skeleton-loader>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <ngx-skeleton-loader [theme]="{ 
                              'border-radius': '5px',
                              height: '250px',                    
                              border: '1px solid white'
                              }"></ngx-skeleton-loader>
                  </div>
                </div>
              </div>

              <div class="tab-content" style="min-height: 20vh;" *ngIf="subCourseLoader">
                <!-- bank tabs-->
                <div class="tab-pane active">
                  <div class="row">
                    <ng-container *ngFor="let testSeriesData of getTestSeriesSubData">
                        <div class="col-md-4 col-lg-4 col-xl-3 col-sm-6 col-12" *ngIf="testSeriesData.total_count > 0">
                        <div class="cus-test-series-slide">
                          <div class="test-series-back">
                            <div class="test-icon text-center">
                              <img src="https://estore.avision24x7.com/{{testSeriesData.sub_category_image}}"
                                width="50px">
                            </div>
                            <div class="test-title-text text-center">
                              <h4>{{testSeriesData.product_name}} {{testSeriesData.section_name}}</h4>
                              <p>{{testSeriesData.total_count}} Total Test</p>
                              <hr>
                              <ul>
                                <li>{{testSeriesData.full_test_count}} Full Test - Prelims</li>
                                <li *ngIf="testSeriesData.prev_year_count == 0"><p>&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
                                <li *ngIf="testSeriesData.prev_year_count > 0">{{testSeriesData.prev_year_count}} Advanced Test - Prelims</li>
                              </ul>
                              <hr>
                            </div>
                            <a (click)="testInner(testSeriesData.product_id)" class="btn btn-block btn-primary"
                              style="color: #fff">Take Test</a>
                          </div>
                        </div>
  
                      </div>
                    </ng-container>
                    
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>



  <!--Testimonial Section-->
  <section class="testimonial-section" style="background-image:url(assets/images/background/2.png)">
    <div class="container">
      <div class="row">
        <div class="title-column col-md-5 col-sm-12 col-12">
          <div class="inner-column">
            <h2>What <br> Says Our Students</h2>
          </div>
        </div>
      </div>
      <owl-carousel-o [options]="customOptions3">
        <ng-template carouselSlide *ngFor="let timonialDetails of timonialDetails">
          <div class="slide">
            <div class="testimonial-block">
              <div class="inner-box">

                <div class="text">
                  <div class="quote-icon">
                    <span class="icon flaticon-straight-quotes"></span>
                  </div>
                  <p>{{timonialDetails.content}}</p>
                </div>
                <div class="author-info">
                  <div class="author-inner">
                    <div class="image"><img src="assets/images/resource/{{timonialDetails.image}}" alt="" /></div>
                    <h3>{{timonialDetails.user_name}}</h3>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </section>
  <!--End Testimonial Section-->



  <!-- faq section -->
  <section class="faq-section">
    <div class="auto-container">
      <!--Accordian Boxed-->
      <div class="accordian-boxed">
        <h3>Frequently Asked Questions</h3>

        <!--Accordian Box-->
        <ul class="accordion-box" id="faq_box">

          <!--Block-->
          <li class="accordion block active-block">
            <div class="acc-btn active">
              <div class="icon-outer"><img src="assets/images/icons/acc-1.png" alt="" /></div>In what languages mock
              tests are available?
            </div>
            <div class="acc-content current">
              <div class="content">
                <div class="text">Tests are provided either in English or in both English and Hindi. For a particular
                  test, you may check the languages it is available in while purchasing the package.</div>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="accordion block">
            <div class="acc-btn">
              <div class="icon-outer"><img src="assets/images/icons/acc-1.png" alt="" /></div>I have completed a mock
              test. When will I get my score?
            </div>
            <div class="acc-content">
              <div class="content">
                <div class="text">On submission of your mock test, your score and All-India rank would be immediately
                  generated. The All India ranking is dynamic in nature and it would change as more users attempt that
                  mock test.</div>
              </div>
            </div>
          </li>


          <!--Block-->
          <li class="accordion block">
            <div class="acc-btn">
              <div class="icon-outer"><img src="assets/images/icons/acc-1.png" alt="" /></div>What happens if I get
              disconnected during a test?
            </div>
            <div class="acc-content">
              <div class="content">
                <div class="text">If you get disconnected while attempting a test, all your data till the disconnection
                  will get saved and you will be able to resume from the same state later. You are advised to close the
                  test window in this case and resume when you have connectivity again.</div>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="accordion block">
            <div class="acc-btn">
              <div class="icon-outer"><img src="assets/images/icons/acc-1.png" alt="" /></div>Can I attempt a test more
              than once?
            </div>
            <div class="acc-content">
              <div class="content">
                <div class="text">A test can be attempted only once. However, you can review the solutions and analysis
                  of the attempted tests as many times as you want.</div>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="accordion block">
            <div class="acc-btn">
              <div class="icon-outer"><img src="assets/images/icons/acc-1.png" alt="" /></div>I do not have online
              payment activated. Can i use any other mode of payment ?
            </div>
            <div class="acc-content">
              <div class="content">
                <div class="text">You can use your Debit card, ATM card, Credit card, Netbanking account or payment
                  wallets like Paytm/PayZapp/Freecharge/Ola Money to pay for the PLAN. If you do not have any of the
                  above payment methods, send us an email at support@AVISION.CO.IN and we will suggest an alternative
                  method.</div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </section>

  <!-- end faq section -->
</div>
